@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-size: 1em;
}
html {
    width: 100%;
}
header {
    width: 100%;
    height: 150px;
    background-color: rgba(94, 41, 154, .8);
    z-index: 2;
    position: relative;
}
header .container {
    position: relative;
}
header .header-black {
    width: 100%;
    height: 40px;
    background-color: black;
}
header .header-black li {
    background-image: url("../png/clubs.png");
    background-repeat: no-repeat;
    display: flex;
    display: inline-block;
    margin: 4px 4px;
}
header .header-black li.club-01 {
    background-position: 0px 0px;
}
header .header-black li.club-02 {
    background-position: -48px 0px;
}
header .header-black li.club-03 {
    background-position: -91px 0px;
}
header .header-black li.club-04 {
    background-position: -139px 0px;
}
header .header-black li.club-05 {
    background-position: -188px 0px;
}
header .header-black li.club-06 {
    background-position: -239px 0px;
}
header .header-black li.club-07 {
    background-position: -287px 0px;
}
header .header-black li.club-08 {
    background-position: -337px 0px;
}
header .header-black li.club-09 {
    background-position: -380px 0px;
}
header .header-black li.club-10 {
    background-position: -428px 0px;
}
header .header-black li.club-11 {
    background-position: -479px 0px;
}
header .header-black li.club-12 {
    background-position: -528px 0px;
}
header .header-black li.club-13 {
    background-position: -578px 0px;
}
header .header-black li.club-14 {
    background-position: -629px 0px;
}
header .header-black li.club-15 {
    background-position: -675px 0px;
}
header .header-black li.club-16 {
    background-position: -717px 0px;
}
header .header-black li.club-17 {
    background-position: -760px 0px;
}
header .header-black li.club-18 {
    background-position: -807px 0px;
}
header .header-black li.club-19 {
    background-position: -855px 0px;
}
header .header-black li.club-20 {
    background-position: -900px 0px;
}
header .header-black li.club-21 {
    background-position: -948px 0px;
}
header .header-black li.club-22 {
    background-position: -997px 0px;
}
header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}
header #logotipo {
    position: absolute;
    top: 22px;
    left: -10px;
}
#menu {
    margin: 12px 0px;
}
#menu li {
    display: inline-block;
    font-family:'Open Sans';
}
#menu li a{
    color: #ffffff;
    font-size: 16px;
    padding: 0px 25px;
    position: relative;
    right: 35px;
}
#menu li input {
    color: #6b3a9d;
}
input.form-control {
    height: 30px;
    background-color: #5c2d90;
    border: none;
}
button#button-addon2 {
    background-color: #5c2d90;
}
div.input-group.mb-3 {
    width: 170px;
    right: 20px;
}
#menu li.search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7)  ;
    font-family: 'OpenSans';
}    
#menu i.fa.fa-search{
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
#menu button#button-addon2{
    border: none;
}
#banner {
    width: 100%;
    height: 668px;
    position: relative;
    background: url("../png/banner.jpg") no-repeat;
    background-position: 0px -100px;
    top: -110px;
}
#banner h1 {
    width: 800px;
    font-family: "OpenSans-Light";
    font-size: 92px;
    position: relative;
    top: 300px;
    right: -100px;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
#banner h1 small {
    top: 300px;
    font-family: "OpenSans";
    font-size: 32px;
    color: #ffffff;
    display: block;
    margin-left: 10px;
}
section div div.row.container {
    color: #5e299a;
    width: 100%;
    font-family: "OpenSans-Light";
    font-size: 48px;
    text-transform: uppercase;
    display: contents;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
}
section div div h2 {
    position: relative;
    top: -30px;
}
section div div.row.container hr {
    border: #fde192 solid 4px;
    width: 150px;
    margin: 0 auto;
    top: -10px;
    text-align: center;
    position: relative;
    top: -30px;
}
h2 {
    font-size: 40px;
}
.col-md-3 {
    flex: 0;
}
div.row.thumbnails {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}
div.row.thumbnails h3 {
    color: #5e299a;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
    margin-top: 15px;
    text-transform: none;
    margin-bottom: 0;
}
div.row.thumbnails time {
    font-size: 18px;
    color: #a7a7a7;
    margin-top: 0;
    font-family: "OpenSans";
    text-transform: none;
    display: flex;
}
section div.estatísticas {
    width: 100%;
    height: 200px;
    background-color: #5e299a;
    margin-top: 175px;

}
section div.container {
    height: 200px;
    text-align: center;
    margin-top: 40px;
}
section div.estatísticas p {
    color: #fde192;
    font-family: "OpenSans-Light";
    font-size: 64px;
    text-transform: uppercase;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
}
section .container .row .col-md-4 {
    top: 35px;
}
section div.estatísticas p small {
    color: #ffffff;
    font-size: 24px;
    display: block;
}
section div div div.row.text-center {
    display: unset;
    
}
section div div div.row.text-center h3 {
    font-size: 48px;
    text-transform: none;
    color: #5e2799;
    text-align: center;
    font-family: 'OpenSans-Light';
}
section div.call-to-action .container hr {
    border: #fde192 solid 4px;
    width: 200px;
    margin: 0 auto;
}
section div.call-to-action {
    position: relative;
    top: 100px;
}
section div.call-to-action .container {
    margin: 0 auto;
}
section div.call-to-action .container div p {
    margin-top: 60px;
    color: #656565;
}
section div.call-to-action .container div.but {
    display: flex;
    top: 20px;
    position: relative;
}
section div.call-to-action .container div.but .btn {
    min-width: 164px;
    height: 44px;
    line-height: 34px;
    border-radius: 0;
}
section div.call-to-action .container div.but .btn-roxo {
    color: #ffffff;
    background-color: #5e299a;
    border: #5e299a;
}
section div.call-to-action .container div.but .btn-amarelo {
    color: #000000;
    background-color: #fde192;
    border: #fde192;
}
section div.call-to-action .container div.but .row.row-max-400 {
    margin: 0 auto;
    max-width: 400px;
}
footer .row-cinza-claro {
    height: 200px;
    width: 100%;
    background-color: #171f26;
}
footer .row-cinza-escuro {
    height: 60px;
    width: 100%;
    background-color: #11171d;
}